
a{
background-image: url("notas.png");
background-color: white;
background-repeat: no-repeat;
background-position: left;
padding-left: 20px;
border:1px solid green;
color:green;
font-size: 30px;
text-decoration: none;
}

a:hover{
background-color: green;
border-radius: 10px;
color:white;
text-decoration: none;
}
