div{
	border:1px solid #2EC26D;
	float:left;
	margin-right:10px; 
	width:150px;
	height: 450px;
	padding: 10px;
    position: relative;
}
button{
	background-color:#45CCF0;
	position: absolute;
	bottom: 10px;
	font-family: calibri;
	font-size: 14px;
}
span{
	font-family: verdana;
	color:white;
	background-color:#1EB4DC;
	padding:3px;
}
h5{
	font-family: calibri;
   font-size: 14px;
}

p{
	font-family: calibri;
	
}
