body{
	padding-top: 50px;
	padding-left: 200px;
}
strong{
	color:green;	
	font-family: helvetica;
	font-size: 20px;
	text-align: center;
}

img{
	width: 120px;
	height: 110px;
	transition: width 2s transform 2s;
}

img:hover{
	width: 130px;
	height: 120px;
	transform: rotate(30deg);  
}
#primera{
	border:1px solid lightgreen;
	height: 30px;
	width: 500px;
	text-align: center;
}
#segunda{
	border:1px solid lightgreen;
	height: 30px;
	width: 500px;
	text-align: center;
}

.flor{
	float:left;	
	margin-right: 10px;

}

.flor:hover>h3{	
	
	visibility:visible; 
}
h4{
	color:lightgreen;
	text-align: left;
}
h3{
	color:lightgreen;
	text-align: center;
	visibility: hidden;
}
