ul{
	width: 360px;
	border: 10px solid #E8F0B5;
	padding-bottom: 10px;
	padding-top: 15px;	
}
li{
	list-style-image: url('flecha.gif');
	padding-right: 20px;
	padding-bottom: 10px;
}
a{
	font-family: verdana;
	text-decoration: none;
	color: blue;
	font-size: 12px;	
}