body{
	background-image: url('imagenes/fondo.gif');
}
@media screen and (max-width: 360px) { 
	/*eliminamos la posición flotante y ocupan el total del ancho*/
	  
nav {
    -webkit-box-shadow:inset 0 0 50px 0 rgba(0,0,0,0.4);
    box-shadow:inset 0 0 50px 0 rgba(0,0,0,0.4);
    width:100%;
    float:none;
    text-align: center;
}
/*
	gradiante obtenido en http://www.colorzilla.com/gradient-editor/
	name: Blue Gloss #4
	*/
div{
	background: #ebf1f6; /* Old browsers */
	background: -moz-linear-gradient(top,  #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */

/*	box-shadow:0px 10px 15px rgba(0,0,0,0.4);*/
   -webkit-box-shadow: 0 10px 15px 0 rgba(0,0,0,0.4);
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.4);
    width:100%;
    float:none;
}
img{
	width:100%;
    float:none;
    max-width: 100%;
height: auto;
}
hr{
	color:lightgrey;
}
.cifp{
	width:100%;
    float:none;
	border:1px solid grey;
	text-align: center;
	padding: 5px;
}
.css{
	width:100%;
    float:none;
	border:1px solid green;
	text-align: center;
	padding: 5px;
}
}
@media screen and (min-width: 360px) and (max-width: 700px){ 
	/*eliminamos la posición flotante y ocupan el total del ancho*/
	  
nav {
    -webkit-box-shadow:inset 0 0 50px 0 rgba(0,0,0,0.4);
    box-shadow:inset 0 0 50px 0 rgba(0,0,0,0.4);
    width:100%;
    float:none;
    text-align: center;
}
nav li{
	background-color: #ebf1f6;
}
nav li a{
	text-decoration: none;
}
/*
	gradiante obtenido en http://www.colorzilla.com/gradient-editor/
	name: Blue Gloss #4
	*/
div{
	background: #ebf1f6; /* Old browsers */
	background: -moz-linear-gradient(top,  #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */

/*	box-shadow:0px 10px 15px rgba(0,0,0,0.4);*/
   -webkit-box-shadow: 0 10px 15px 0 rgba(0,0,0,0.4);
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.4);
    width:100%;
    float:none;
}
img{
	max-width: 100%;
	width:100%;
    float:none;
    height: auto;
}
hr{
	color:lightgrey;
}
.cifp{
	width:100%;
    float:none;
	border:1px solid grey;
	text-align: center;
	padding: 5px;
}
.css{
	width:100%;
    float:none;
	border:1px solid green;
	text-align: center;
	padding: 5px;
}
}

@media screen and (min-width: 700px) and(max-width: 900px) { 
	/*eliminamos la posición flotante y ocupan el total del ancho*/
	  
nav {
    -webkit-box-shadow:inset 0 0 50px 0 rgba(0,0,0,0.4);
    box-shadow:inset 0 0 50px 0 rgba(0,0,0,0.4);
    width:100%;
    float:left;
    text-align: center;
}
/*
	gradiante obtenido en http://www.colorzilla.com/gradient-editor/
	name: Blue Gloss #4
	*/
div{
	background: #ebf1f6; /* Old browsers */
	background: -moz-linear-gradient(top,  #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */

/*	box-shadow:0px 10px 15px rgba(0,0,0,0.4);*/
   -webkit-box-shadow: 0 10px 15px 0 rgba(0,0,0,0.4);
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.4);
    width:100%;
    float:none;
}
img{
	width:100%;
    float:none;
    max-width: 100%;
height: auto;
}
hr{
	color:lightgrey;
}
.cifp{
	width:100%;
    float:none;
	border:1px solid grey;
	text-align: center;
	padding: 5px;
}
.css{
	width:100%;
    float:none;
	border:1px solid green;
	text-align: center;
	padding: 5px;
}
}

@media screen and (min-width: 900px) { 
	/*eliminamos la posición flotante y ocupan el total del ancho*/
	  
nav {
    -webkit-box-shadow:inset 0 0 50px 0 rgba(0,0,0,0.4);
    box-shadow:inset 0 0 50px 0 rgba(0,0,0,0.4);
    width:100%;
    float: none;
    text-align: center;
}
/*
	gradiante obtenido en http://www.colorzilla.com/gradient-editor/
	name: Blue Gloss #4
	*/
div{
	background: #ebf1f6; /* Old browsers */
	background: -moz-linear-gradient(top,  #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */

/*	box-shadow:0px 10px 15px rgba(0,0,0,0.4);*/
   -webkit-box-shadow: 0 10px 15px 0 rgba(0,0,0,0.4);
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.4);
    width:100%;
    float:none;
}
img{
	width:100%;
    float:none;
    max-width: 100%;
height: auto;
}
hr{
	color:lightgrey;
}
.cifp{
	width:100%;
    float:none;
	border:1px solid grey;
	text-align: center;
	padding: 5px;
}
.css{
	width:100%;
    float:none;
	border:1px solid green;
	text-align: center;
	padding: 5px;
}
}
