body {
      width: 800px;
      font-family: Verdana, Geneva, sans-serif;
      font-size: 12px;
      margin-left: 200px;
      
      }

header {
	font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 24px;
        font-style: italic;
        color: #8DA456;
        padding:5px;
        }

#contenedor{
	border:1px solid #8DA456;
	padding-left:25px;
	padding-right: 0px;
	padding-top: 5px;
	height: 500px;
	
}
#cerezas{
	border:1px solid #DCDFD5;
	width: 210px;
	float: left;
	padding: 5px;
	margin-right: 40px;
	
}
#uvas{
	border:1px solid #DCDFD5;
	width: 210px;
	padding: 5px;
	float: left;
	margin-right: 40px;
}
#peras{
	border:1px solid #DCDFD5;
	width: 210px;
	padding: 5px;
	float: left;			
}
i{
	position:absolute;
	bottom: 120px;
	left: 220px;
}
img{
	margin-left:20px;
}
