body{
	padding-top: 50px;
	padding-left: 200px;
}
strong{
	color:blue;	
	margin-left: 320px;
	font-family: helvetica;
	font-size: 40px;
}
img{
	padding-left: 10px;
}

#cerezas{
	padding: 50px; 
	width:150px;
	height: 160px;
	float:left;
	margin-right: 10px;
}
#cerezas:hover{
	border: 1px solid blue;
	visibility:visible; 
}
div{
	padding: 40px; 
	width:170px;
	height: 180px;
	float:left;
	margin-right: 10px;
}
div:hover{
	border: 1px solid blue;
	visibility:visible; 
}
h3{
	color:blue;
	text-align: center;
}