body{
    font-family: Verdana, Geneva, sans-serif;
    width: 800px;
    margin-left: 250px;
}

p {
    font-size: 18px;
    line-height: 1.5em;
}
div{
	border:1px solid blue;
	margin-bottom: 12px;
	margin-top: 12px;
}
#contenedor{
	border:1px solid green;
	padding: 0px 4px 0px 4px;
	font-size: 13px;
}
img{
	border:1px dashed red;
}
#uvas{
	float:right;
	padding: 4px 4px 4px 4px;
}
#cerezas{
	float:left;
	padding: 4px 4px 4px 4px;

}
#letra{
	border:1px dashed red;
}
#bajar{
	clear:both;
}