nav{
	width:1200px;
	margin-left: 150px;
	 font-family: verdana;
}
ul{
	list-style:none;
}
#lista > li{	
	float:left;
}
#lista li a{
	min-width: 100px;
	background-color: #0C9BBB;
	color: white;
	text-decoration: none;
	display:block;
    padding:15px 25px 15px 45px;

}
#lista li a:hover{	
	background-color:#0C5CB6;
    
}
#lista li ul{
	display: none;
	position: absolute;
    min-width: 100px;
    margin-left: -40px;
}
#lista li:hover > ul{
	display:block;
}

