body{
	width:800px;
	margin-left: 200px;
	font-family: verdana;
	font-size: 13px;
}
header{
	width: 100%;
	height: 80px;
	background-color: #1E81BE;
	margin-bottom: 2px;
	box-sizing: border-box;
	padding: 5px;
	color: white;
}
nav{
	width: 15%;
	float: left;
	background-color: #0E659B;
	box-sizing: border-box;
	padding: 5px;
	color: white;
	
}
ol{
    margin-left: -15px;	
}
a{
	color: white;
}
#contenido{
	width: 65%;
	box-sizing: border-box;
	float: left;
	padding: 5px;
}
#extra{
	width: 20%;
	box-sizing: border-box;
	float: right;
	background-color: #71A4C4;
	padding: 5px;
	color: white;
}
footer{
	width: 100%;
	height: 40px;
	background-color: #5798C1;
	clear: both;
	box-sizing: border-box;
	padding: 5px;
	color: white;
}