#uno{
	background-color:#F8F2F0;
	width: 600px;
	margin-left: 200px;
	padding:10px 10px 10px 10px;
}
#dos{
	width: 590px;
	border: 2px solid #EAE5E3;

}
h1{	
	color: white;
	background-color: #BCD66B;
	padding-left: 17px;
	margin-top: 0px;
	margin-bottom: 15px;
	
}
p{
	margin-top: -12px;
	color: white;
	font-family: verdana;
	font-size: 14px;
    padding:10px 40px 20px 17px;	
    background-image: url('fondo_negro.jpg');
    margin-bottom: 0px;
}
a{
	font-family: calibri;
	font-size: 16px;
	color:#CBEE5E;
}